.badge-opacity-warning {
    background: #fad480;
    color: #805905;
    border-radius: 6px;
}

.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge {
    border-radius: 0px;
    font-size: 12px;
    line-height: 1;
    padding: 0.375rem 0.5625rem;
    font-weight: normal;
}

.table td .badge, .jsgrid .jsgrid-table td .badge {
    margin-bottom: 0;
}